// page style
h1 {
  margin: 2em 0 0;
  text-align: center;
}

.owner {
  text-align: center;
  font-size: 12px;
  margin-top: 0;
  color: #222;

  a {
    color: #3498db;
  }
}

.allcheck {
  position: fixed;
  top: 70px;
  right: 70px;
  z-index: 2;
  label {
    margin-left: .5em;
    font-weight: bold;
  }
}
ul {
  max-width: 800px;
  margin: 0 auto;
  list-style: none;
  li {
    position: relative;
    padding: 20px 0;
    border-bottom: 1px solid #ddd;
  }
  label {
    display: inline-block;
    margin-bottom: 1em;
    padding-left: 25px;
    font-size: 16px;
    font-weight: bold;
  }
  input {
    position: absolute;
    top: 20px;
    left: 0;
    &:checked ~ div {
      margin-left: calc(100% - 60px);
    }
  }
  div {
    width: 60px;
    height: 60px;
    background: #3498db;
  }
}

$ease          : cubic-bezier(0.25, 0.1, 0.25, 1);
$linear        : cubic-bezier(0.0, 0.0, 1, 1);
$easeIn        : cubic-bezier(0.42, 0, 1, 1);
$easeOut       : cubic-bezier(0, 0, 0.58, 1);
$easeInOut     : cubic-bezier(0.42, 0, 0.58, 1);

$easeInSine    : cubic-bezier(0.47, 0, 0.745, 0.715);
$easeOutSine   : cubic-bezier(0.39, 0.575, 0.565, 1);
$easeInOutSine : cubic-bezier(0.445, 0.05, 0.55, 0.95);
$easeInQuad    : cubic-bezier(0.55, 0.085, 0.68, 0.53);
$easeOutQuad   : cubic-bezier(0.25, 0.46, 0.45, 0.94);
$easeInOutQuad : cubic-bezier(0.455, 0.03, 0.515, 0.955);

$easeInCubic    : cubic-bezier(0.55, 0.055, 0.675, 0.19);
$easeOutCubic   : cubic-bezier(0.215, 0.61, 0.355, 1);
$easeInOutCubic : cubic-bezier(0.645, 0.045, 0.355, 1);
$easeInQuart    : cubic-bezier(0.895, 0.03, 0.685, 0.22);
$easeOutQuart   : cubic-bezier(0.165, 0.84, 0.44, 1);
$easeInOutQuart : cubic-bezier(0.77, 0, 0.175, 1);

$easeInQuint    : cubic-bezier(0.755, 0.05, 0.855, 0.06);
$easeOutQuint   : cubic-bezier(0.23, 1, 0.32, 1);
$easeInOutQuint : cubic-bezier(0.86, 0, 0.07, 1);
$easeInExpo     : cubic-bezier(0.95, 0.05, 0.795, 0.035);
$easeOutExpo    : cubic-bezier(0.19, 1, 0.22, 1);
$easeInOutExpo  : cubic-bezier(1, 0, 0, 1);

$easeInCirc     : cubic-bezier(0.6, 0.04, 0.98, 0.335);
$easeOutCirc    : cubic-bezier(0.075, 0.82, 0.165, 1);
$easeInOutCirc  : cubic-bezier(0.785, 0.135, 0.15, 0.86);
$easeInBack     : cubic-bezier(0.6, -0.28, 0.735, 0.045);
$easeOutBack    : cubic-bezier(0.175, 0.885, 0.32, 1.275);
$easeInOutBack  : cubic-bezier(0.68, -0.55, 0.265, 1.55);

$duration: 1s;

.ease {
  transition: $duration $ease;
}
.linear {
  transition: $duration $linear;
}
.easeIn {
  transition: $duration $easeIn;
}
.easeOut {
  transition: $duration $easeOut;
}
.easeInOut {
  transition: $duration $easeInOut;
}

.easeInSine {
  transition: $duration $easeInSine;
}
.easeOutSine {
  transition: $duration $easeOutSine;
}
.easeInOutSine {
  transition: $duration $easeInOutSine;
}
.easeInQuad {
  transition: $duration $easeInQuad;
}
.easeOutQuad {
  transition: $duration $easeOutQuad;
}
.easeInOutQuad {
  transition: $duration $easeInOutQuad;
}

.easeInCubic {
  transition: $duration $easeInCubic;
}
.easeOutCubic {
  transition: $duration $easeOutCubic;
}
.easeInOutCubic {
  transition: $duration $easeInOutCubic;
}
.easeInQuart {
  transition: $duration $easeInQuart;
}
.easeOutQuart {
  transition: $duration $easeOutQuart;
}
.easeInOutQuart {
  transition: $duration $easeInOutQuart;
}

.easeInQuint {
  transition: $duration $easeInQuint;
}
.easeOutQuint {
  transition: $duration $easeOutQuint;
}
.easeInOutQuint {
  transition: $duration $easeInOutQuint;
}
.easeInExpo {
  transition: $duration $easeInExpo;
}
.easeOutExpo {
  transition: $duration $easeOutExpo;
}
.easeInOutExpo {
  transition: $duration $easeInOutExpo;
}

.easeInCirc {
  transition: $duration $easeInCirc;
}
.easeOutCirc {
  transition: $duration $easeOutCirc;
}
.easeInOutCirc {
  transition: $duration $easeInOutCirc;
}
.easeInBack {
  transition: $duration $easeInBack;
}
.easeOutBack {
  transition: $duration $easeOutBack;
}
.easeInOutBack {
  transition: $duration $easeInOutBack;
}
