div{
	padding: 40px;
	margin: 10px;
}

body > div{
	width: 50%;
	color: white;
}

#top{
	background-color:#ccc;

	div{
		background-color: blue;
	}
}

#bottom{
	background-color: #ccc;
	div {
		background-color: green;
	}
}
