@import "~normalize-scss/sass/normalize/import-now";

html, body, div, h1, h2, h3, h4, h5, ul, li, p, section,
nav, footer, header, article {
  box-sizing: border-box;
}

ul, li {
  list-style: none;
}

body {
  width: 1180px;
  height: 100%;
  margin: 0 auto;
  padding: 50px;
}

#wrap {
  width: 100%;
  height: 100%;
  border: 1px solid black;
  padding: 1px;
  display: flex;
  justify-content: space-between;
}

#menu {
  width: 160px;
  height: 1000px;
  border: 1px solid blue;
  text-align: center;


  #logo {
    img {
      width: 120px;
      height: 120px;
    }
  }

  ul {
    padding: 0;

    li {
      text-align: left;
      line-height: 1.5em;
      padding-left: 50px;
      margin-bottom: 15px;
      position: relative;

      span {
        font-size: 18px;
        color: #34AC98;
        font-style: italic;
        transition: all 0.5s ease;
      }

      i {
        position: absolute;
        top: 0;
        left: 10px;
        font-size: 26px;
        margin-right: 10px;
        vertical-align: middle;
        transition: all 0.2s ease-in;
      }

      &:hover {
        span {
          color: #EC6635;
        }

        i {
          left: 20px;
        }
      }
    }
  }

  #contacts {
    h1 {
      font-size: 12px;
      font-weight: normal;
      text-transform: uppercase;
      text-align: left;
      border-bottom: 1px dashed #AAA;
      padding-bottom: 5px;
    }

    button {
      border: 1px solid #AAA;
      background: white;
      color: #34AC98;
      font-size: 11px;
      height: 30px;
      width: 100%;
      border-radius: 5px;
      cursor: pointer;

      &:hover {
        background: #EFF8F7;
      }

      i {
        vertical-align: middle;
      }
    }

    p {
      text-align: left;
      font-style: italic;
      font-size: 12px;

    }

    .contact-item {
      margin-bottom: 20px;
      padding: 0 10px;
    }
  }
}

#content {
  width: 900px;
  height: 1000px;
  border: 1px solid red;
  overflow: hidden;
  position: relative;

  .slides {
    position: relative;
    top: 0;
    height: 450px;
    width: 400%;
    transition: left 0.5s ease-in;

    img {
      float: left;
      width: 25%;
      height: 100%;
    }
  }

  .gallery {
    input[type="radio"] {
      display: none;
    }

    nav {
      ul {
        display: flex;
        padding: 0;
        margin: 0;

        li {
          flex-basis: 25%;
          padding: 0;
          margin: 0;
          width: 100%;
          height: 60px;
          line-height: 60px;
          border-right: 1px solid #D3EDE9;

          &:last-child {
            border-radius: none;
          }

          label {
            display: block;
            background: #EFF8F7;
            font-size: 18px;
            color: #34AC98;
            text-align: center;
          }
        }
      }
    }

    #radio-1:checked ~ .slides {
      left: 0;
    }
    #radio-2:checked ~ .slides {
      left: -100%;
    }
    #radio-3:checked ~ .slides {
      left: -200%;
    }
    #radio-4:checked ~ .slides {
      left: -300%;
    }

    #radio-1:checked ~ nav {
      #labelForRadio-1 {
        background: #D9EFEC;
      }
    }
    #radio-2:checked ~ nav {
      #labelForRadio-2 {
        background: #D9EFEC;
      }
    }
    #radio-3:checked ~ nav {
      #labelForRadio-3 {
        background: #D9EFEC;
      }
    }
    #radio-4:checked ~ nav {
      #labelForRadio-4 {
        background: #D9EFEC;
      }
    }
  }
}

footer {
  height: 60px;
  border: 1px solid orange;
}

[class^="icon"] {
  font-family: "iconfont";
  font-style: normal;
}